<nav class="navbar navbar-light fixed-top mt-3" style="background-color: white" >
    <div class="navbar-nav row" style="margin-right: 40px"  [routerLinkActive]="['active']">
      <div class="navbar-expand">
            <img src="./../../assets/img/logo@300-2.png" alt="شبکه علمی ایران" style="max-height: 100px; max-width: 120px;">
      <button type="button" style="font-size: large" class="btn btn-light mr-1" data-toggle="tooltip" data-placement="top" [routerLink]="['menu1s']" title="Tooltip on top">
       شبکه علمی چیست ؟
      </button>
      <button type="button" style="font-size: large" class="btn btn-light mr-1" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
        درباره ما
      </button>
      <button type="button" style="font-size: large" class="btn btn-light mr-1" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
        خدمات و تعرفه ها
      </button>
      <button type="button" style="font-size: large" class="btn btn-light mr-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
        همکاری با شما
      </button>
      <button type="button" style="font-size: large" class="btn btn-light mr-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
        اطلاعات تماس
      </button>
      <span style="margin-right: 300px">
          <a  tooltip="Version en español" href="#" style="color: black"> SP </a> | <a tooltip="Version en español" href="#" style="color: black"> EH </a> | <a tooltip="Version en español" href="#" style="color: black"> CH </a> | <a tooltip="Version en español" href="#" style="color: black"> RU </a> | <a tooltip="Version en español" href="#" style="color: black"> AR </a>|<a tooltip="Version en español" href="#" style="color: black"> FR </a>
          <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="left" title="Tooltip on left" [routerLink]="['rightbody']">
              ورود
         </button>
        </span>
        </div>
  </div>

</nav>
