<nav class="fixed-top">
    <div class="row">
    <div class="mr-3">
        <button style="max-height: 55px; max-width: 100px "  class="btn btn" [ngClass]="{'btn-light': opened == false, 'btn-dark' : opened == true} " (click)="sidenav.toggle()">
            {{opened ? 'منو' : 'منو' }}<br/><mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
        </button>
    </div>
  </div>
  </nav>
  <div class="row" style="height: 900px">
    <div>
    <mat-sidenav-container style="height: 900px; margin-top: 100px">
            <mat-sidenav style="  background-color: rgb(230, 230, 230); width: 220px; padding: 16px" mode="side" #sidenav [(opened)]="opened">
                <mat-accordion style="width: 120px">
                    <div class="border" style="background-color:rgb(255, 255, 255); width: 200px; height: 200px; text-align: center">
                        <img src="./../../assets/img/logo@300-2.png" style=" width: 120px; height: 118px" alt="دانشگاه">
                        <p style="font-size: large; color:rgb(5, 5, 5)">شبکه علمی چیست ؟</p>
                      </div>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="btn btn-primary">
                        <mat-panel-title>
                          <p style="font-size: 15px" >نقشه جامع علمی کشور</p>
                        </mat-panel-title>
                        <mat-panel-description>
                         {{panelOpenState ? 'باز' : 'بسته'}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <button type="button" style="font-size: large; width: 150px; margin-left: 200px" [routerLink]="['/menu1a']" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                          <p style="font-size: 15px">مقدمه</p>
                         </button><br/>
                         <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1b']" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                            <p style="font-size: 15px"> ارزش های بنیادین نقشه جامع علمی کشور</p>
                         </button><br/>
                         <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1c']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            <p style="font-size: 15px">وضع مطلوب علم و فناوری </p>
                         </button><br/>
                         <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1d']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            <p style="font-size: 15px">اولویت های علم و فناوری کشور</p>
                         </button><br/>
                         <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1e']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            <p style="font-size: 15px">راهبردها و اقدامات ملی برای توسعه علم و فناوری در کشور</p>
                         </button><br/>
                         <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1f']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                            <p style="font-size: 15px">چارچوب نهادی علم وفناوری و نوآوری</p>
                         </button><br/>
                    </mat-expansion-panel>
                    <button type="button" style="font-size: large; width: 188px" [routerLink]="['/menu2']" class="btn btn-primary  mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        <p style="font-size: 20px">چرائی شبکه علمی</p>
                     </button>
                     <button type="button" style="font-size: large; width: 188px" [routerLink]="['/menu3']" class="btn btn-primary mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        <p style="font-size: 20px">گستره جهانی</p>
                     </button>
                     <button type="button" style="font-size: large; width: 188px" class="btn btn-primary mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        <p style="font-size: 20px">مقالات و مستندات</p>
                     </button>
                  </mat-accordion>
            </mat-sidenav>
            <mat-sidenav-content style="padding: 16px ">
              <div class="row  mr-5" style="margin-top: 35px">
           <div class="border" style="text-align: right">
              <div class="formBox" style="font-size: 13pt;text-align: justify">
                  <h3>اولویت های علم و فناوری کشور</h3>
                  <p style="font-weight: bold">٣ - ١. اهداف اولویت بندی و رویکـرد پشـتیبانی از اولویـت هـا</p>
                  <p>
                      استخراج اولويت هاي علم و فناوري كشور در سند حاضر حاصل تركيب رويكردهاي مزيت محور، نيازمحور، مرزشكن و آينده نگر
                      است.
                      بـر ايـن اساس و به منظور تحقق اولويت ها، نوع پشتيباني از آنها بسته بـه وضـع موجود علوم و فناوري هاي مرتبط و نوع
                      توسعه كمي و تحول و ارتقـاي كيفي مورد نظر در طيـف وسـيعي از پشـتيباني هـاي فكـري، مـالي، قانوني، منابع انساني و
                      مديريتي متغير خواهد بود. برخي رويكردهـاي
                      پشتيباني از اولويت هاي علم و فناوري عبارتند از:
                  </p>
                  <ul>
                      <li>
                          هدايت سرمايه گذاري ها از طريق برنامـه هـاي پـنج سـاله و
                          بودجه هاي ساليانه و رديف ها و تسهيلات مالي متمركز؛
                      </li>
                      <li>
                          هدايت نظام آموزش براي تأمين و جذب نيروهاي نخبـه و
                          متخصص مورد نياز در حوزه هاي اولويت دار؛
                      </li>
                      <li>
                          اصلاح و ايجاد سـاختارها و فراينـدها، تنظـيم و تـدوين و
                          تصويب سياست ها و ضوابط تشويقي خاص براي رشد سريع
                          (ميان بر) در حوزه هاي اولوي تدار؛
                      </li>
                  </ul>
                  <p style="font-weight: bold">٣ - ٢. اولویت هـــــــای علـــــــم و فنـــــــاوری کشـــــــور</p>
                  <p>
                      از آنجا كه حصـول اطمينـان از رشـد و شـكوفايي در برخـي از اولويت هـا
                      و در برخي ديگـر رشـد و توسـعه بـا پشـتيباني مـديريت هـاي ميـاني و تخصيص غيرمتمركز منابع حاصل خواهد شد، اولويت ها
                      به ترتيب در سـه سطح الف و ب و ج تنظيم شده اند. اين دسته بندي ناظر بر نحوه و ميزان
                      تخصيص منابع، اعم از مالي و انساني و توجه مديران و مسئولان است.
                  </p>
                  <ul>
                      <li>
                          <p style="font-weight: bold">
                              اولویت های الف
                          </p>
                          <ul>
                              <li>
                                  <p style="font-weight: bold">
                                      درفناوری:
                                  </p>
                                  <p>
                                      فناوري هوافضا فناوري اطلاعات و ارتباطات - فنـاوري هسـته
                                      اي – فناوري هاي نانو و ميكرو – فنـاوري هـاي نفـت و گـاز -
                                      فناوري زيستي – فناوري هاي زيست محيطـي – فنـاوري هـاي نرم و فرهنگي؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درعلــوم پایه وكاربردی:
                                  </p>
                                  <p>
                                      ماده چگال- سلول هاي بنيـادي و پزشـكي مولكـولي- گياهـان دارويي- بازيافت و تبديل انرژي- انرژي هاي
                                      نـو و تجديدپـذير- رمزنگاري و كدگذاري- علوم شناختي و رفتاري؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درعلوم انسـانی ومعارف اسلامی:
                                  </p>
                                  <p>
                                      مطالعات قـرآن و حـديث - كـلام اسـلامي- فقـه تخصصـي - اقتصاد، جامعه شناسي، علوم سياسي، حقوق،
                                      روانشناسي، علـوم تربيتي و مديريت مبتني بر مباني اسلامي- فلسفه هاي مضـاف متكي بر حكمت اسـلامي -
                                      فلسـفه ولايـت و امامـت - اخـلاق كاربردي و حرف هاي اسـلامي - سياسـت گذاري و مـديريت علـم، فناوري
                                      و
                                      فرهنگ – زبان فارسي در مقام زبان علم؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درسـلامت:
                                  </p>
                                  <p>
                                      سياست گذاري و اقتصاد سـلامت - دانـش پيشـگيري و ارتقـاي سلامت با تأكيد بر بيماري هاي داراي بار
                                      بالا
                                      و معضلات بـومي
                                      - الگوهاي شيوه زندگي سالم منطبق با آمـوزه هـاي اسـلامي - استفاده از الگوهاي تغذيه بومي؛
                                  </p>
                              </li>

                              <li>
                                  <p style="font-weight: bold">
                                      درهنـر:
                                  </p>
                                  <p>
                                      حكمت و فلسـفه هنـر - هنرهـاي اسـلامي ايرانـي - هنرهـاي
                                      مرتبط با انقلاب اسلامي و دفاع مقدس - اقتصاد هنر - فـيلم و سينما - رسانه هاي مجازي با تأكيد بر
                                      پويانمـايي و بـازي هـاي رايانه اي - معماري و شهرسـازي اسـلامي- ايرانـي - موسـيقي
                                      سـنتي و بـومي ايـران – ادبيـات و شـعر و داسـتان نويسـي - طراحي هنري ايراني اسلامي و لباس و فرش
                                      ايراني.
                                  </p>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <p style="font-weight: bold">
                              اولویت های ب
                          </p>
                          <ul>
                              <li>
                                  <p style="font-weight: bold">
                                      درفناوری:
                                  </p>
                                  <p>
                                      ليزر - فوتونيك - زيست حسگرها - حسـگرهاي شـيميايي -
                                      مكاترونيــك - خودكارســازي و روباتيــك - نــيم رســاناها - كشتي سازي - مـواد نوتركيـب –
                                      بسـپارها(پليمرهـا)- حفـظ و احياي ذخاير ژني- اكتشاف و اسـتخراج مـواد معـدني - پـيش
                                      بيني و مقابله با زلزله و سيل - پدافند غيرعامل؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درعلــوم پایه وكاربردی:
                                  </p>
                                  <p>
                                      ژئوفيزيك- ايمني زيستي- بيو انفورماتيك- اپتيـك- فيزيـك
                                      انرژي هاي بالا و ذرات بنيادي- محاسبات و پـردازش اطلاعـات كوانتومي- نجوم و كيهان شناسي- فيزيـك
                                      اتمـي و شـتابگرها- علوم ژني- محاسبات نرم و سيستمهاي فازي- توپولوژي؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درعلوم انسـانی ومعارف اسلامی:
                                  </p>
                                  <p>
                                      اخلاق اسلامي و مطالعات بين رشته اي آن - الهيـأت - عرفـان
                                      اسـلامي - فلسـفه - غـرب شناسـي انتقـادي - كـارآفريني ومهارتافزائي - تاريخ اسلام و ايران و انقلاب
                                      اسلامي مطالعـات
                                      زنان و خانواده مبتني بر مباني اسلامي - تاريخ علم (با رويكـرد تاريخ اسلام و ايران) - جغرافياي
                                      سياسي؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درسـلامت:
                                  </p>
                                  <p>
                                      داروهـاي جديـد و نوتركيـب - مـديريت اطلاعـات و دانـش
                                      سلامت - طب سنتي - تجهيزات پزشكي - سلولي و مولكـولي - ژن درماني - فرآوردههاي زيستي - فناوري
                                      تغذيه؛
                                  </p>
                              </li>

                              <li>
                                  <p style="font-weight: bold">
                                      درهنـر:
                                  </p>
                                  <p>
                                      مطالعات انتقادي هنر مـدرن - مطالعـات تطبيقـي حـوزههـاي هنر- هنرهاي سنتي و صنايع دستي - خوشنويسي
                                      - هنرهـاي نمايشي - مباحث ميان رشتهاي هنر و شاخههاي علوم با تاكيد بر نگاه اسلامي.
                                  </p>
                              </li>
                          </ul>
                      </li>
                      <li>
                          <p style="font-weight: bold">
                              اولویت های ج
                          </p>
                          <ul>
                              <li>
                                  <p style="font-weight: bold">
                                      درفناوری:
                                  </p>
                                  <p>
                                      اپتوالكترونيك - كاتاليست ها - مهندسـي پزشـكي - آلياژهـاي
                                      فلزي - مواد مغناطيسي – سازههـاي دريـايي - حمـل و نقـل
                                      ريلي - ايمني حمل و نقـل - ترافيـك و شهرسـازي - مصـالح ســاختماني ســبك و مقــاوم – احيــاي
                                      مراتــع و جنگلهــا و بهرهبرداري از آنها - فناوريهاي بومي؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درعلــوم پایه وكاربردی:
                                  </p>
                                  <p>
                                      جبر و رياضيات غيرخطي- رياضـيات گسسـته و تركيبيـاتي-
                                      آناليز تـابعي و هم سـاز- سيسـتمهـاي دينـاميكي و احتمـال- كنترل و بهينه سـازي- زيسـت رياضـي-
                                      پلاسـما- بيوفيزيـك- فيزيك سيستمهاي پيچيده- بيوشـيمي- شـيمي سـبز- مـواد سيليكوني- تكتونيـك و
                                      زمـين شناسـي مهندسـي- فـرآوري و استحصال و تلخيص مـواد آلـي و معـدني- مخـاطرات زيسـت محيطي-
                                      تغييرات اقليمي- اقيانوسشناسـي و علـوم دريـايي-
                                      تنش هاي زيستي و غيرزيستي- توليد ارقام و گونه هاي مناسب با بهره بـرداري از تنـوع زيسـتي- بهينـه
                                      سـازي
                                      الگـوي كشـت منطقه اي- جامعه شناسي زيستي؛
                                  </p>
                              </li>
                              <li>
                                  <p style="font-weight: bold">
                                      درسـلامت:
                                  </p>
                                  <p>
                                      علوم ميان رشته اي بين علوم پايه با علـوم بـاليني - مقابلـه بـا
                                      انواع اعتياد - ايمني غذايي - امنيت غذايي؛
                                  </p>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
           </div>
              </div>
            </mat-sidenav-content>
          </mat-sidenav-container>
