<!--The content below is only a placeholder and can be replaced.-->
<div class="row" dir="rtl">
  <div style="width: 100%">
<app-header></app-header>
  </div>
</div>
<div>
  <div class="row" dir="rtl">
  <div style="width: 1300px">
      <router-outlet></router-outlet>
  </div>
</div>
</div>
<nav class="navbar navbar-light fixed-bottom " style="background-color: white">
<div id="footer">
  <p>
      کلیه حقوق مادي ومعنوي محتوا و اطلاعات موجود در سایت طبق قوانین حمایت از مولفین و مصنفین و قوانین حق کپی رایت
      ایران و بین المللی متعلق است به
      <strong>اپراتور شبکه علمی ایران (فاوا یا نفت مسئله این است : 1394 – 1404)</strong><br>
      این نرم افزار توسط شرکت سامانه های هوشمند سیمرغ طراحی ، پیاده سازي ، پشتیبانی و راهبري کامل گردیده و حق
      امتیاز
      آن به شرکت سامانه های هوشمند سیمرغ تعلق دارد.
  </p>
</div>
</nav>
