<nav class="fixed-top">
  <div class="row">
  <div class="mr-3">
      <button style="max-height: 55px; max-width: 100px "  class="btn btn" [ngClass]="{'btn-light': opened == false, 'btn-dark' : opened == true} " (click)="sidenav.toggle()">
          {{opened ? 'منو' : 'منو' }}<br/><mat-icon aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
      </button>
  </div>
</div>
</nav>
<div class="row" style="height: 900px">
  <div>
  <mat-sidenav-container style="height: 900px; margin-top: 100px">
          <mat-sidenav style="  background-color: rgb(230, 230, 230); width: 220px; padding: 16px" mode="side" #sidenav [(opened)]="opened">
              <mat-accordion style="width: 120px">
                  <div class="border" style="background-color:rgb(255, 255, 255); width: 200px; height: 200px; text-align: center">
                      <img src="./../../assets/img/logo@300-2.png" style=" width: 120px; height: 118px" alt="دانشگاه">
                      <p style="font-size: large; color:rgb(5, 5, 5)">شبکه علمی چیست ؟</p>
                    </div>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="btn btn-primary">
                      <mat-panel-title>
                        <p style="font-size: 15px" >نقشه جامع علمی کشور</p>
                      </mat-panel-title>
                      <mat-panel-description>
                       {{panelOpenState ? 'باز' : 'بسته'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <button type="button" style="font-size: large; width: 150px; margin-left: 200px" [routerLink]="['/menu1a']" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <p style="font-size: 15px">مقدمه</p>
                       </button><br/>
                       <button type="button" style="font-size: large; width: 150px" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                          <p style="font-size: 15px"> ارزش های بنیادین نقشه جامع علمی کشور</p>
                       </button><br/>
                       <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1c']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                          <p style="font-size: 15px">وضع مطلوب علم و فناوری </p>
                       </button><br/>
                       <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1d']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                          <p style="font-size: 15px">اولویت های علم و فناوری کشور</p>
                       </button><br/>
                       <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1e']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                          <p style="font-size: 15px">راهبردها و اقدامات ملی برای توسعه علم و فناوری در کشور</p>
                       </button><br/>
                       <button type="button" style="font-size: large; width: 150px" [routerLink]="['/menu1f']" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                          <p style="font-size: 15px">چارچوب نهادی علم وفناوری و نوآوری</p>
                       </button><br/>
                  </mat-expansion-panel>
                  <button type="button" style="font-size: large; width: 188px" [routerLink]="['/menu2']" class="btn btn-primary  mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                      <p style="font-size: 20px">چرائی شبکه علمی</p>
                   </button>
                   <button type="button" style="font-size: large; width: 188px" [routerLink]="['/menu3']" class="btn btn-primary mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                      <p style="font-size: 20px">گستره جهانی</p>
                   </button>
                   <button type="button" style="font-size: large; width: 188px" class="btn btn-primary mt-1" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                      <p style="font-size: 20px">مقالات و مستندات</p>
                   </button>
                </mat-accordion>
          </mat-sidenav>
          <mat-sidenav-content style="padding: 16px ">
            <div class="row  mr-5" style="margin-top: 35px">
         <div class="border" style="text-align: right">
            <div class="formBox" style="font-size: 13pt;text-align: justify">
                <h3> ارزش های بنیادین نقشه جامع علمی کشور</h3>
                <p style="font-weight: bold;">١ - ١. مبانی و ارزشهای بنیـادین نقشـه جـامع علمـی کشـور</p>
                <p>
                    مباني ارزشي نظام علم و فناوري كشور بر پاية مبـاني نظـري كـه در مجموعة اسناد پشتيبان نقشة جامع علمي كشور ارائـه
                    شـده، اسـتوار است و به مثابة روح حاكم بر حركت علمـي كشـور، مشـخص كننـدة جهت گيري هـاي نظـام و اولويـت هـا و
                    بايـد و
                    نبايـدها در عرصـه هـاي آموزش، پـرورش، پـژوهش و فنـاوري اسـت. مهمتـرين ايـن ارزشـها عبارتند از:
                </p>
                <ol type="1" start="۱">
                    <li>
                        حاكميت جهان بيني توحيدي اسلام در كلية ابعـاد علـم و
                        فناوري؛
                    </li>
                    <li>
                        علم هدايتگر و هدفمندي آخرت گرايانة علم و فناوري؛
                    </li>
                    <li>
                        عدالت محوري، پرورش استعدادها و دسـتيابي همگـان بـه
                        خصوص مستضـعفان در حـوزه علـم و فنـاوري، و تقويـت
                        خلاقيت، نوآوري و خطرپذيري در علم؛
                    </li>
                    <li>
                        كرامت انسـان بـا تكيـه بـر فطـرت حقيقـت جـو، عقلگـرا،
                        علم طلب و آزادگي وي؛
                    </li>
                    <li>
                        آزادانديشي و تبادل آراء و تضارب افكار (جدال احسن)؛
                    </li>
                    <li>
                        توجه به اصل عقلانيت، تكريم علم و عالم، ارزشمندي ذاتي
                        علم و ضرورت احترام حقوقي و اخلاقي بـه آفـرينشهـاي
                        فكري- علمي؛ ودستاوردهاي علمي بشري و بهره گيـري از
                        آنها در چارچوب نظام ارزشي اسلام؛
                    </li>
                    <li>
                        علم و فناوري كمـال آفـرين، توانمندسـاز، ثـروت آفـرين و
                        هماهنگ با محيط زيست و سـلامت معنـوي و جسـمي و رواني و اجتماعي آحاد جامعه؛
                    </li>
                    <li>
                        ايجاد تحول بنيادين علمي بخصوص در بازبيني و طراحـي
                        علوم انساني در چارچوب جهانبيني اسلامي؛
                    </li>
                    <li>
                        تعامل فعال و الهام بخش بـا محـيط جهـاني و فرآينـدهاي
                        توسعة علم و فناوري در جهان؛
                    </li>
                    <li>
                        اخلاق محوري،تقـدم مصـالح عمـومي بـرمنـافع فـردي و
                        گروهي، تقويت روحية تعاون و مشاركت و مسئوليت پذيري
                        آحاد جامعة علمي و نهادهاي مرتبط با آن.
                    </li>
                </ol>
                <p style="font-weight: bold">١ - ٢. ویژگی های اصلی الگوی نظام علـم و فنـاوری و نـوآوری</p>
                الگوي مناسب نظام علم و فناوري و نوآوري ويژه جامعه ايراني كه بـه دنبال احياي فرهنگ و ايجاد تمدن نوين اسلامي ـ ايراني
                اسـت بايـد ويژگي هاي اصلي زير را داشته باشد:
                <ol type="1" start="۱">
                    <li>
                        <span style="font-weight: bold">تركيب عرضه محوري و تقاضا محوري:</span>
                        با توجه به اهـداف و
                        آرمان هــا و اولويت هــاي بلندمــدت نظــام و كــافي نبــودن تقاضا هاي بخشهاي اقتصادي و صـنعتي از مـوارد
                        مـذكور، برخي حوزههاي اولويت دار بايد مـورد حمايـت ويـژه قـرار
                        گيرند. اين وجه از نظام علم و فناوري معطوف بـه توليـد و عرضه دانش بر مبناي اهداف و آرمان هـاي جامعـه اسـت. از
                        سوي ديگر افزايش تقاضاي نظامهـاي فرهنگـي، سياسـي، صنعتي و اقتصادي ملي و فراملي و در نتيجه تجاري كردن دانش و
                        فناوري، اهميت ويژه اي در پيشرفت همه جانبـه و پايدار كشور دارد. بنابراين، الگوي مناسب براي نظام علم و فناوري
                        جامعه ايراني در ايـن زمينـه تركيبـي از الگوهـاي
                        عرضه محوري و تقاضا محوري است.
                    </li>

                    <li>
                        <span style="font-weight: bold">اجتماع دو رويكرد برونمداري و درون مداري:</span>
                        نظام علم و
                        فناوري جامعه ايراني از نظر توجـه بـه نيازهـا و قابليت هـا و
                        ظرفيت هاي بومي و مزيتهاي نسبي كشور، درون مدار اسـت. از سوي ديگر با توجه بـه فرصـت هاي پـيش رو در جهـان و
                        كشورهاي اسلامي، در عرصه علم و فناوري با جهان اسلام و سـاير كشـورها مشـاركت فعـال دارد و بنـابراين در ايـن
                        زمينه برون مدار است.
                    </li>
                    <li>
                        <span style="font-weight: bold">تلفيق آموزش با تربيت و پژوهش و مهـارت:</span>
                        از آنجـا كـه
                        علم و عمل توأمان، عامـل پيشـرفت همـه جانبـه و پايـدار
                        كشور است، بايد الگوي تفكيكي حاكم بر نظام فعلي علم و فناوري به سرعت در جهـت الگـويي تلفيقـي تحـول يابـد. بدين
                        منظور اين تلفيق بايد از آمـوزش ابتـدايي آغـاز و در تمام دوره هـاي آموزشـي ادامـه يابـد و در نتيجـه الگـوي
                        آموزشي حافظه مدار فعلي جاي خود را به الگوي مبتني بر يادگيري دانش به همراه تربيت انسان ها و پرورش مهارت ها و
                        پــژوهش بدهــد. در نظــام آمــوزش عــالي نيــز رويكــرد
                        پژوهش محوري تقويت خواهد شد.
                    </li>
                </ol>
            </div>
         </div>
            </div>
          </mat-sidenav-content>
        </mat-sidenav-container>
